<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>

<style>
  .form-group.add-admin {
    margin-bottom: 0px !important;
}
</style>

<!-- Main Content -->
 <div class="main-content">
  <section class="section">
    <div class="fully-page">
      <div class="full-headings">
        <h4> Add Event</h4>
      </div>
      <div class="box-bodys" style="padding: 0px;">
        <div class="row">
          <div class="col-md-12">
              <!-- alert msgs  -->
              <div class="full-forms py-1 px-1">
                <form action="/admin/event" method="post">
                  <div class="form-group row">
                    <% if (output === 'Error in fetching user' || output === 'Failed to Update' ) { %>
                      <div  class="alert alert-danger col-md-12">
                          <%= output %>
                      </div>
                      <% }else if(output===''){
                      } else { %>
                      <div class="alert alert-success mb-1 col-md-12">
                          <%= output %>
                      </div>                                   
                      <% } %>

                    <input type="hidden" name="user_id">
                      <div class="form-group add-admin col-md-6">
                        <label class="control-label" for="name">Event Type</label>
                        <select name="event_type" class="form-control">
                          <% console.log('event data',event_type); %>
                            <option value="">Select your type</option>
                            <% for(var j = 0; j<event_type.length; j++ ){ %>
                             
                            <option value="<%- event_type[j].name %>"><%- event_type[j].name %></option>
                           
                            
                            <% } %>
                           
                        </select>
                      </div>
                      <div class="form-group add-admin col-md-6">
                        <label class="control-label" for="name">Event Title</label>
                        <input type="text" name="title" placeholder="Enter the Event Title" class="form-control" required>
                      </div>

                      
                      <div class="form-group add-admin col-md-4">
                          <label class="control-label" for="name">Event Date</label>
                          <input type="date" name="date" placeholder="Enter the number" class="form-control" required>
                      </div>
                      <div class="form-group add-admin col-md-4">
                        <label class="control-label" for="name">Start Time</label>
                        <input type="time" name="start_time" placeholder="Enter the number" class="form-control" required>
                      </div>
                      <div class="form-group add-admin col-md-4">
                        <label class="control-label" for="name">End Time</label>
                        <input type="time" name="end_time" class="form-control required" required>
                      </div>
                      <div class="form-group add-admin col-md-4">
                        <label class="control-label" for="name">Venue Name</label>
                        <input type="text" name="venue_name" placeholder="Enter the Name" class="form-control" required>
                      </div>
                      <div class="form-group add-admin col-md-4">
                        <label class="control-label" for="name">Venue Location</label>
                        <input type="text" name="venue_location" class="form-control " required>
                      </div>
                      <div class="form-group add-admin col-md-4">
                        <label class="control-label" for="name">Max Participants</label>
                        <input type="number" name="participants" placeholder="Enter the number" class="form-control" required>
                      </div>
                      <div class="form-group add-admin col-md-12">
                        <label for="eventDescription" class="form-label">Description</label>
                        <textarea class="form-control" id="summernote" name="description" rows="4" placeholder="Enter game description" required></textarea>
                      </div>
                      <div class="form-group add-admin col-md-12">
                        <label for="eventDescription" class="form-label">Rules and Regulations</label>
                        <textarea class="form-control" id="summernote1" name="rules" rows="4" placeholder="Enter game description" required></textarea>
                      </div>
                    <div class="form-group  add-admin mt-3 col-md-12" style="margin-bottom: 0px;">
                       <input type="submit" name="add" class="btn btn-primary" value="Submit" style="width: 10%;"> 
                    </div> 
                  </div>  
                </form>
                  </div>
                 </div>
             </div>
           </div>
          </div>
        </section>

      </div>
      <footer class="main-footer">
        <div class="footer-left">
          Copyright © 2025  <a href="#">Spectrum Sports </a> All rights reserved
        </div>
        <div class="footer-right">
        </div>
      </footer>
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="../assets/js/app.min.js"></script>
  <!-- JS Libraies -->
  <script src="../assets/bundles/apexcharts/apexcharts.min.js"></script>
  <!-- Page Specific JS File -->
  <script src="../assets/js/page/index.js"></script>
  <!-- Template JS File -->
  <script src="../assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="../assets/js/custom.js"></script>
</body>


<!-- index  21 Nov 2019 03:47:04 GMT -->
</html>


<!-- Include Summernote CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.css" rel="stylesheet">

<!-- Include Summernote JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.js"></script>

<!-- Page specific script -->
<script>
    $(function () {
      // Summernote
      $('#summernote').summernote({
        height: 100, // Set height (like 'rows')
        width: '100%', // Full width of container
        minHeight: 100, // Minimum height
        maxHeight: 500, // Maximum height
      });

    })
</script>
<script>
  $(function () {
    // Summernote
    $('#summernote1').summernote({
      height: 100, // Set height (like 'rows')
      width: '100%', // Full width of container
      minHeight: 100, // Minimum height
      maxHeight: 500, // Maximum height
    });

  })
</script>