

<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>

<style>
   .tab-content {
    display: block;
}
/* .tab-content>.tab-pane {
    display: block;
}
.fade:not(.show) {
    opacity: 1 !important;
} */
</style>

      <!-- Main Content -->
      <div class="main-content">
       <section class="section">
           <div class="fully-page">
             <div class="full-headings">
               <h4> Profiles</h4>
             </div>
             <div class="box-bodys">
              <div id="successMessage" class="alert alert-success d-none">
                Profile picture updated successfully!
              </div>
                
                <div id="errorMessage" class="alert alert-danger d-none">
                Error updating profile picture. Please try again.
                </div>
            <div class="row profile-boxes">
                <div class="col-md-12">
                 <div class="cards-head">
                  <h2 class="section-title">Hi, <%- admin.firstname %></h2>
                  <p class="section-lead">
                    Change information about yourself on this page.
                  </p>
           </div>
                </div>
              
                  
              <div class="col-12 col-md-12 col-lg-4">
             <div class="card">

            
                <div class="profile-pic  mt-3">
                  <label class="-label" for="file">
                    <span class="glyphicon glyphicon-camera"></span>
                    <!-- <span>Change Image</span> -->
                  </label>
                  <input id="file" type="file" onchange="loadFile(event)"/>
                  <img src="http://<%= host %>/uploads/<%- admin.image %>" id="output" alt="Change" width="200" />
                 </div>

                 <div class="contact_inner mt-3 text-center">
                  <h3><%- admin.firstname %> <%- admin.lastname %></h3>
                  <p><strong>About: </strong>Admin of MyRentWish </p>
                  <ul class="list-unstyled">
                     <li><i class="fa fa-envelope-o"></i> : <%- admin.email  %></li>
                     <li><i class="fa fa-phone"></i> :  <%- admin.contact  %></li>
                  </ul>
               </div>

<!-- 
                <div class=" profile-widget">
     
                 
                  <div class="profile-widget-description">
                    <div class="profile-widget-name">Ujang Maman <div class="text-muted d-inline font-weight-normal"><div class="slash"></div> Web Developer</div></div>
                    Ujang maman is a superhero name in <b>Indonesia</b>, especially in my family. He is not a fictional character but an original hero in my family,<br> a hero for his children and for his wife. So, I use the name as a user in this template. Not a tribute, I'm just bored with 'John Doe' John Doe'</b>.
                      <div class="full-btnss">
                    <div class="card-footer text-left">
                      <button class="btn btn-primary">Message</button>
                       <button class="btn btn-primary">Edit</button>
                    </div>
                  </div>
                  </div>
                 
                </div> -->
               
              </div>

</div>


              


              <div class="col-12 col-md-12 col-lg-8">
                <div class="card-forms profile-widget">



                  <div class="tab_style2">
                     <div class="tabbar">
                        <nav>
                           <div class="nav nav-tabs" id="nav-tab" role="tablist">
                              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#profile_section" role="tab" aria-selected="true">Profile</a>

                              <!-- <a class="nav-item nav-link" id="nav-activity-tab" data-toggle="tab" href="#recent_activity" role="tab" aria-selected="false"> recent_activity</a> -->

                              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#password_section" role="tab" aria-selected="false">Password</a>

                           </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                           <% if (output === ' Profile Updated Successfully !!' || output === 'Password changed successfully') { %>
                              <p class="success-text mt-2 mb-0"><%= output %></p>
                           <% } else { %>
                              <p class="error-text mt-2 mb-0"><%= output %></p>
                           <% } %>
             
                           <div class="tab-pane mt-0 fade show active" id="profile_section" role="tabpanel" aria-labelledby="nav-home-tab">
                          
                              <div class="card mt-0">
                                 <div class="card-body">
                                    <h5 class="card-title d-flex justify-content-between">
                                       <span>Personal Details</span> 
                                       <a class="edit-link" data-toggle="modal" href="#edit_personal_details"><i class="fa fa-edit mr-1"></i>Edit</a>
                                    </h5>
                                    <div class="row">
                                       <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">First Name </p>
                                       <p class="col-sm-9"><%- admin.firstname %></p>
                                    </div>
                                    <div class="row">
                                       <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Last Name  </p>
                                       <p class="col-sm-9"><%- admin.lastname %></p>
                                    </div>

                                    <div class="row">
                                       <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Username </p>
                                       <p class="col-sm-9"><%- admin.username %></p>
                                    </div>
                             
                                    <div class="row">
                                       <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Email ID</p>
                                       <p class="col-sm-9"> <%- admin.email %> </p>
                                    </div>
                                    <div class="row">
                                       <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Mobile</p>
                                       <p class="col-sm-9"><%- admin.contact %></p>
                                    </div>
                                    <div class="row">
                                       <p class="col-sm-3 text-muted text-sm-right mb-0">Address</p>
                                       <p class="col-sm-9 mb-0"> <%- admin.address %></p>
                                    </div>
                                 </div>
                              </div>
                                       

                         </div>

                       
                           <div class="tab-pane fade" id="password_section" role="tabpanel" aria-labelledby="nav-contact-tab">

                           <div class="card">
                              <div class="card-body">
                                 <h5 class="card-title">Change Password</h5>
                                 <div class="row">
                                    <div class="col-md-10 col-lg-6">
                                       <form method="post" action="/admin/changepass">
                                          <div class="form-group">
                                             <label>Old Password</label>
                                             <input name="opass" type="password" class="form-control">
                                          </div>
                                          <div class="form-group">
                                             <label>New Password</label>
                                             <input name="npass" type="password" class="form-control">
                                          </div>
                                          <div class="form-group">
                                             <label>Confirm Password</label>
                                             <input name="cpass" type="password" class="form-control">
                                          </div>
                                          <button class="btn btn-primary" type="submit">Save Changes</button>
                                       </form>
                                    </div>
                                 </div>
                              </div>
                           </div>                                    
                         
                        </div>
                        
                        </div>
                     </div>
                  </div>
                </div>
              </div>
            </div>



                   </div>
                 </div>
             </section>

      </div>
      <footer class="main-footer">
        <div class="footer-left">
         Copyright by 
         <a href="https://www.myamberinnovations.com/"> Amber Innovations </a>
        </div>
        <div class="footer-right">
        </div>
      </footer>
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="../assets/js/app.min.js"></script>
  <!-- JS Libraies -->
  <script src="../assets/bundles/apexcharts/apexcharts.min.js"></script>
  <!-- Page Specific JS File -->
  <script src="../assets/js/page/index.js"></script>
  <!-- Template JS File -->
  <script src="../assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="../assets/js/custom.js"></script>
    <script src="../assets/js/text-editor.js"></script>



   
</body>


<!-- index  21 Nov 2019 03:47:04 GMT -->
</html>



<script>

  var loadFile = function (event) {
    var image = document.getElementById("output");
    var file = event.target.files[0];
  
    // Create a FormData object to send the file
    var formData = new FormData();
    formData.append("image", file); // Use the name "profileImage" to match your server's expectations

    // Send the AJAX request
    $.ajax({
      url: "/admin/updateadminpic", // Replace with your actual API endpoint URL
      type: "POST",
      data: formData,
      processData: false,
      contentType: false,
      success: function (response) {
      if(response.msg == 'success'){
        $("#successMessage").removeClass("d-none");
    $("#errorMessage").addClass("d-none");
      }else{
        $("#errorMessage").removeClass("d-none");
    $("#successMessage").addClass("d-none");
      }
  
      },
      error: function (error) {
         
          $("#errorMessage").removeClass("d-none");
    $("#successMessage").addClass("d-none");
      },
    });
  
    // Update the preview image
    image.src = URL.createObjectURL(file);
  };
  



  $(document).ready(function () {
    $('.nav-tabs a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });
  });

  
  
  </script>





              <!-- Edit Details Modal -->
                                      
              <div class="modal fade" id="edit_personal_details" aria-hidden="true" role="dialog">
               <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title">Personal Details</h5>
                        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">×</span>
                        </button> -->
                     </div>
                     <div class="modal-body">
                        <form method="post" action="/admin/profile" enctype="multipart/form-data" >
                           <div class="row form-row">
                              <div class="col-12 col-sm-6">
                                 <div class="form-group">
                                    <label> FirstName /label>
                                    <input name="firstname" type="text" class="form-control" value="<%- admin.firstname %>">
                                 </div>
                              </div>
                              <div class="col-12 col-sm-6">
                                 <div class="form-group">
                                    <label> Lastname </label>
                                    <input name="lastname"  type="text" class="form-control" value="<%- admin.lastname %>">
                                 </div>
                              </div>


                              <div class="col-12 col-sm-6">
                                 <div class="form-group">
                                    <label> Username </label>
                                    <input name="username"  type="text" class="form-control" value="<%- admin.username%>">
                                 </div>
                              </div>
                  
                            
                              <div class="col-12 col-sm-6">
                                 <div class="form-group">
                                    <label>Login Email </label>
                                    <input name="email" type="email" class="form-control" value="<%- admin.email %>">
                                 </div>
                              </div>
                              <div class="col-12 col-sm-6">
                                 <div class="form-group">
                                    <label>Mobile</label>
                                    <input name="contact"  type="text" value="<%- admin.contact %>"class="form-control">
                                 </div>
                              </div>
             

                           

                           <!-- <div class="col-12">
                              <div class="form-group">
                              <label>About</label>
                                 <input name="about"  type="text" class="form-control" value="<%- admin.about %>">
                              </div>
                           </div> -->

                                  

                              <div class="col-12">
                                 <div class="form-group">
                                 <label>Address</label>
                                    <input name="address"  type="text" class="form-control" value="<%- admin.address %>">
                                 </div>
                              </div>
                              
                              <div class="form-group col-md-6 col-12">
                                 <label>Update Profile Picture </label>
                                 <input  type="file"  class="form-control"  id="avatar" name="image" accept="image/png, image/jpeg" />
                              </div>
                           </div>
                           <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
                           <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="closeEmailModal()">Close</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <!-- /Edit Details Modal -->


            <script>
                 function closeEmailModal() {
    window.location.href = '/admin/profile'; 
  }

  </script>
