<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>

<style>
  .form-group.add-admin {
    margin-bottom: 0px !important;
}
</style>
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
           <div class="fully-page">
             <div class="full-headings">
               <h4> View User </h4>
             </div>

   



             <div class="box-bodys" style="padding: 0px;">
       
              <div class="row">
                <div class="col-md-4">
           
                  <div class="forms-img">
                     <img src="../assets/img/login-bg/add-user.jpg" style="width: 100%; height: 420px;">
                  </div>
                </div>





                 <div class="col-md-8">
                                            	<!-- alert msgs  -->
    <% if (output === 'Error in fetching user' || output === 'Failed to Update' ) { %>
      <div  class="alert alert-danger">
         <%= output %>
        </div>
      
    <% } else { %>
      <div class="alert alert-success mb-1">
         <%= output %>
      </div>                                   
    <% } %> 
<!-- /alert msgs  -->
                  <div class="full-forms py-1 px-1">

            <form action="/admin/viewUser" method="post">

                 <div class="form-group row">
                  <input type="hidden" name="user_id" value="<%- user.user_id  %>" >


                <div class="form-group add-admin col-md-6">
                    <label class="control-label" for="name">First Name</label>
                    <input type="text" name="firstname" class="form-control required"  value="<%- user.firstname  %>">
                </div>
                 <div class="form-group add-admin col-md-6">
                    <label class="control-label" for="name">Last Name</label>
                    <input type="text" name="lastname" class="form-control required"  value="<%- user.lastname  %>">
                </div>

              
               

                   <div class="form-group add-admin col-md-12">
                        <label class="control-label" for="name">Email</label>
                        <input type="email" name="user_email" class="form-control required" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" value="<%- user.user_email  %>" readonly>
                    </div>
                    
                    <div class="form-group add-admin col-md-6">
                      <label class="control-label" for="name">Mobile no</label>
                      <input type="number" name="user_mobile" class="form-control required" value="<%- user.user_mobile  %>" readonly>
                  </div>

                     <!-- <div class="form-group add-admin col-md-6">
                        <label class="control-label" for="image"> Customer Image</label><br>
                        <input type="file" name="image" onchange="validateImage(this)" id="image" class="" size="20" required="">
                        <div id="image_req" style="color: red"></div>
                    </div> -->

                    <div class="form-group col-md-6">
                      <label for="gender">Gender</label><br>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="gender" id="male" value="Man"   <% if (user.gender === 'Man') { %>checked<% } %>>
                          <label class="form-check-label" for="male">Male</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="gender" id="female" value="Women" <% if (user.gender === 'Women') { %>checked<% } %>>
                          <label class="form-check-label" for="female">Female</label>
                      </div>
                  </div>

                      <div class="form-group add-admin col-md-12">
                        <label class="control-label" for="name">Address</label>
                        <textarea type="text" name="address" class="form-control required" value="<%- user.address  %>"> <%- user.address  %> </textarea>
                    </div>

                    <div class="form-group add-admin col-md-6">
                      <label class="control-label" for="name">Country</label>
                      <input type="text" name="country" class="form-control required"  value="<%- user.country  %>">
                  </div>

                  <div class="form-group add-admin col-md-6">
                    <label class="control-label" for="name"> City </label>
                    <input type="text" name="city" class="form-control required"  value="<%- user.city  %>">
                </div>


         

                   
                    <div class="form-group  add-admin mt-3 col-md-12" style="margin-bottom: 0px;">
                       <input type="submit" name="add" class="btn btn-primary" value="Submit"> 
                    </div> 
                  </div>  
                </form>
                  </div>
                 </div>
             </div>
           </div>
          </div>
        </section>

      </div>
      <footer class="main-footer">
        <div class="footer-left">
          Copyright by 
          <a href="https://cyberimpulses.com/"> ciss </a>
        </div>
        <div class="footer-right">
        </div>
      </footer>
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="../assets/js/app.min.js"></script>
  <!-- JS Libraies -->
  <script src="../assets/bundles/apexcharts/apexcharts.min.js"></script>
  <!-- Page Specific JS File -->
  <script src="../assets/js/page/index.js"></script>
  <!-- Template JS File -->
  <script src="../assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="../assets/js/custom.js"></script>
</body>


<!-- index  21 Nov 2019 03:47:04 GMT -->
</html>