
<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>


      <!-- Main Content -->
      <div class="main-content">
    <section class="section">
          <div class="row">
           <div class="fully-tables">
            <div class="cards-headers">
                  <h4> View Users </h4>
                  <div class="card-header-form">
                  </div>
                </div>

               

                <div id="successMessage" class="alert alert-success d-none">
                
                </div>
                  
                  <div id="errorMessage" class="alert alert-danger d-none">
                        Failed to Delete User
                  </div>

          <div class="table-reponsive box">
                <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                  <div class="row">
                  <table id="example" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="example_info">
                <thead>
                     <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Day: activate to sort column ascending" style="width: 30.0781px;">Id</th>
                      <!-- <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Date: activate to sort column descending" style="width: 30.156px;">box</th> -->
                      <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Day: activate to sort column ascending" style="width: 80.0781px;">Name</th>
                      <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Dc Id: activate to sort column ascending" style="width: 167.953px;">Email</th>
                      <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Gross: activate to sort column ascending" style="width: 100.922px;">Mobile</th>
                      <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Net: activate to sort column ascending" style="width: 75.5625px;">Date of Birth</th>
                      <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="5%: activate to sort column ascending" style="width: 73.1719px;">Gender</th>
                      <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Net: activate to sort column ascending" style="width: 75.5625px;">State</th>
                      <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Net: activate to sort column ascending" style="width: 75.5625px;">Disability</th>
                      <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Gross: activate to sort column ascending" style="width: 100.922px;">Document</th>
                      <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Gross: activate to sort column ascending" style="width: 100.922px;">Address</th>
                      <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 110.156px;">Action</th>
                    </tr>
                </thead>
                   <div class="table-responsive">
                      </div>
                      <tbody>


                        <% for(var i = 0; i < users.length; i++) { %>
                      <tr>
                          <td><%= i + 1 %></td>
                        <!-- <td class="p-0 text-center">
                          <div class="custom-checkbox custom-control">
                            <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
                            <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                          </div>
                        </td> -->
                        <td><%- users[i].firstname %> <%- users[i].user_name %> </td>
                        
                        <td><%- users[i].email %> </td>

                        <td><%- users[i].contact %> </td>
                     
                        <td><%- users[i].address %> </td>
                        
                        <td><%- users[i].gender  %></td>
                        <td><%- users[i].state  %></td>
                       

                        
                        <td> <div id="refreshDiv" class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                          <!-- Append the company's ID as data attribute -->
                          <input type="checkbox" onchange="updateStatus('<%= users[i].user_id %>','<%= users[i].disability %>')" class="custom-control-input" id="customSwitch<%= i %>"  data-company-id="<%= users[i].user_id %>" <% if (users[i].disability === 'on') { %>checked<% } %>>

                          
                          <label style="color: black;" id="<%= users[i].user_id %>" class="custom-control-label" for="customSwitch<%= i %>"><%= users[i].disability %></label>
                          
                      </div></td>
                      <% if(users[i].document){ %>
                      <td><img src="/uploads/<%= users[i].document %>" id="output" alt="Change" width="200" alt="Image">
                      <% }else{ %> 
                      <td><img src="/images/daycare_13936758.gif" id="output" alt="Change" width="200" alt="Image">
                        <% } %>
                      </td>
                        <td><%-users[i].address %></td>


                    

                  <td><div class="dropdown">
                        <button class="btn mt-1 mb-1 btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Action</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item"  href="/admin/viewUser?userID=<%= users[i].u_id %>">Edit</a>
                                          
                          <a  onclick="deleteit('<%= users[i].u_id %>')" class="delete-user-link dropdown-item " kil="<%= users[i].u_id %>" data-user-id="<%= users[i].u_id %>" >Delete</a>
                    
                        </div>
                      </div>
                    </td>


                      </tr>


                      <% } %>
                 

                      </tbody>
                    </table>
                </div>
              </div>
          </div>
         </div>
      </div>
  </section>

      </div>
      <footer class="main-footer">
        <div class="footer-left">
          Copyright by 
          <a href="https://cyberimpulses.com/">ciss </a>
        </div>
        <div class="footer-right">
        </div>
      </footer>
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="../assets/js/app.min.js"></script>
  <!-- JS Libraies -->
  <script src="../assets/bundles/apexcharts/apexcharts.min.js"></script>
  <!-- Page Specific JS File -->
  <script src="../assets/js/page/index.js"></script>
  <!-- Template JS File -->
  <script src="../assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="../assets/js/custom.js"></script>
  

  <!-- All PAGE DATA TABLEC SCRIPT START All PAGE DATA TABLEC SCRIPT START -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script> -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>


</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<script>
  async function updateStatus(userID,status){
          var newStatus ;

          if(status=='active'){
            newStatus = 'inactive';
          }else{
              newStatus = 'active';
          }

              try {
                  const response = await fetch('/admin/updateUserStatus', {
                      method: 'POST',
                      headers: {
                          'Content-Type': 'application/json',
                      },
                      body: JSON.stringify({ userID, status: newStatus }),
                  });

                  if (response.ok) {          
                  
                    const data = await response.json(); 
                    const message = data.message;           
                    //  window.location.href = '/viewCustomers';         

                    $("#successMessage").html(message);
                    $("#successMessage").removeClass("d-none");           
                      $("#errorMessage").addClass("d-none");
                     // window.location.href = '/admin/viewUsers';  


                      setTimeout(function() {
    window.location.href = '/admin/viewUsers';
}, 2000);


                    //   setTimeout(() => {
                      
                    //   }, 1000);

                        
                  } else {
                      // Handle errors
                      console.error('database Error:', error);

                      $("#errorMessage").removeClass("d-none");
                      $("#successMessage").addClass("d-none");
                  }
              } catch (error) {
                  console.error('Error:', error);
              }

}






$(document).ready(function() {


    $('.delete-user-link78').on('click', function(e) {


        e.preventDefault();

        var userId = $(this).data('user-id');
        var userElement = $(this).closest('.user');

        

        // Use SweetAlert2 for a stylish confirmation
        Swal.fire({
            title: 'Are you sure?',
            text: 'You won\'t be able to revert this!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete User'
        }).then((result) => {
            if (result.isConfirmed) {
                // Make an AJAX request to delete the user
                $.ajax({
                    type: 'DELETE',
                    url: '/admin/deleteUser',
                    data: { userID: userId },
                    success: function(response) {

                        console.log('User deleted successfully');
                        var message = 'User Deleted Successfully !!'
                        if(response.msg == true){

                          $("#successMessage").html(message);
                    $("#successMessage").removeClass("d-none");           
                      $("#errorMessage").addClass("d-none");
                      window.location.href = '/admin/viewUsers';  
                        }else{

                          $("#errorMessage").removeClass("d-none");
                      $("#successMessage").addClass("d-none");
                     

                        }

                         
                        // Handle success, update UI, etc.
                    },
                    error: function(error) {
                        console.error('Error deleting user', error);
                        // Handle error
                    }
                });
            }
        });




    });
});



 function deleteit(id){

    var userId = id
              

        // Use SweetAlert2 for a stylish confirmation
        Swal.fire({
            title: 'Are you sure?',
            text: 'You won\'t be able to revert this!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete User'
        }).then((result) => {
            if (result.isConfirmed) {
                // Make an AJAX request to delete the user
                $.ajax({
                    type: 'DELETE',
                    url: '/admin/deleteUser',
                    data: { userID: userId },
                    success: function(response) {

                        console.log('User deleted successfully');
                        var message = 'User Deleted Successfully !!'
                        if(response.msg == true){

                          $("#successMessage").html(message);
                    $("#successMessage").removeClass("d-none");           
                      $("#errorMessage").addClass("d-none");
                      window.location.href = '/admin/viewUsers';  
                        }else{

                          $("#errorMessage").removeClass("d-none");
                      $("#successMessage").addClass("d-none");
                     

                        }

                         
                        // Handle success, update UI, etc.
                    },
                    error: function(error) {
                        console.error('Error deleting user', error);
                        // Handle error
                    }
                });
            }
        });

 }






</script>