<%- include ("header.ejs") %>
<%- include ("navbar.ejs") %>

<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="row">
            <div class="fully-tables">
                <div class="cards-headers">
                    <h4> View Event </h4>
                </div>
                <div class="table-reponsive box">
                    <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row">
                            <table id="example" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="example_info">
                                <thead>
                                    
                                    <tr role="row">
                                        <th style="width: 30px;">Sr. No</th>
                                        <th style="width: 100px;">Event Title</th>

                                        <th style="width: 100px;">Event Type</th>
                                        <th style="width: 100px;">Event Image</th>

                                        <th style="width: 100px;">Event Date</th>
                                        <th style="width: 100px;">Start Time</th>
                                        <th style="width: 100px;">End Time</th>
                                        <th style="width: 100px;">Venue Name</th>
                                        <th style="width: 100px;">Venue Location</th>
                                        <th style="width: 100px;">Max Participants</th>
                                        <th style="width: 100px;">Description</th>
                                        <th style="width: 100px;">Rules and Regulations</th>

                                        <th style="width: 110px;">Action</th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <% for (var i = 0; i < event.length; i++){ %>
                                    <tr>
                                        <td><%- i+1 %></td>
                                        <td><%- event[i].title %></td>

                                        <td><%- event[i].event_type %></td>
                                        <td><img src="/uploads/<%- event[i].image %>" style="width:35px"></td>

                                        <td><%- event[i].date %></td>
                                       
                                        <td><%- event[i].start_time %></td>
                                        <td><%- event[i].end_time %></td>
                                        <td><%- event[i].venue_name %></td>
                                        <td><%- event[i].venue_location %></td>
                                        <td><%- event[i].participants  %></td>
                                        <td><%- event[i].description %></td>
                                        <td><%- event[i].rules %></td>

                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Action
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                    <a class="dropdown-item" href="edit_event?eventID=<%- event[i].id %>">Edit</a>
                                                    <a class="dropdown-item delete-user-link" onclick="deleteit('<%- event[i].id %>')"  data-user-id="1">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <% } %>
                                    
                                </tbody>                            
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<footer class="main-footer">
    <div class="footer-left">
        Copyright © 2025  <a href="#">Spectrum Sports </a> All rights reserved
    </div>
</footer>

<!-- General JS Scripts -->
<script src="../assets/js/app.min.js"></script>

<!-- JS Libraies -->
<script src="../assets/bundles/apexcharts/apexcharts.min.js"></script>

<!-- Page Specific JS File -->
<script src="../assets/js/page/index.js"></script>

<!-- Template JS File -->
<script src="../assets/js/scripts.js"></script>

<!-- Custom JS File -->
<script src="../assets/js/custom.js"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>


</body>
</html>

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<!-- Include Summernote CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.css" rel="stylesheet">

<!-- Include Summernote JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.js"></script>

<!-- Page specific script -->
<script>
    $(function () {
      // Summernote
      $('#summernote').summernote({
        height: 200, // Set height (like 'rows')
        width: '100%', // Full width of container
        minHeight: 200, // Minimum height
        maxHeight: 500, // Maximum height
      });

    })
</script>
<script>
    function deleteit(id){

        var eventId = id
                  
    
            // Use SweetAlert2 for a stylish confirmation
            Swal.fire({
                title: 'Are you sure?',
                text: 'You won\'t be able to revert this!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete User'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Make an AJAX request to delete the user
                    $.ajax({
                        type: 'DELETE',
                        url: '/admin/deletevent',
                        data: {eventId:eventId },
                        success: function(response) {
    
                            console.log('User deleted successfully');
                            var message = 'User Deleted Successfully !!'
                            if(response.msg == true){
    
                              $("#successMessage").html(message);
                        $("#successMessage").removeClass("d-none");           
                          $("#errorMessage").addClass("d-none");
                          window.location.href = '/admin/viewevent';  
                            }else{
    
                              $("#errorMessage").removeClass("d-none");
                          $("#successMessage").addClass("d-none");
                         
    
                            }
    
                             
                            // Handle success, update UI, etc.
                        },
                        error: function(error) {
                            console.error('Error deleting user', error);
                            // Handle error
                        }
                    });
                }
            });
    
     }
    
</script>
